<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Создание компании</h2>
        <ol class="breadcrumb">
            <li><a href="<%= dashboard_path %>">Главная</a></li>
            <li><a>Каталог</a></li>
            <li><a href="<%= companies_path %>">Компании</a></li>
            <li class="active"><strong>Создание компании</strong></li>
        </ol>
    </div>
</div>
<%= render 'form' %>