<footer>
  <div class="container">
      <div class="col-md-12 col-sm-12">
        <p>&copy; 2015. Все права защищены. <%= link_to "About", page_path('about'), class: "btn" %> <%= link_to "Contacts", page_path('contacts'), class: "btn" %></p>
      </div>
  </div>
</footer>
