<div class="footer">				
  	<div class="pull-right">				
      	<div>
		  	<strong>FNF &copy; | <%= image_tag "logo_zettheme.png" %> Zettheme Inc. &copy; <%= Time.now.year %></strong>
      	</div>
    </div>
</div>